.tabs {
  background-color: $primary-color;
  height: 40px;
  ul {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    li {
      display: inline-block;
      margin-right: 13px;
      color: $text-inactive-color;
      font-weight: 900;

      &:hover {
        color: white;
        cursor: default;
      }
    }
    .active {
      color: white;
    }
  }
}
